.trending-section {
  padding: 20px;
  border: 1px solid black;
}

.trending-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.trending-header h2 {
  font-size: 24px;
  font-weight: bold;
}

.view-all-btn {
  background-color: #42a5f5 !important;
  border: none;
  padding: 8px 15px;
  font-weight: bold;
  cursor: pointer;
}

.product-container {
  display: flex !important; 
  flex-wrap: wrap !important;
  justify-content:flex-start !important;
 gap: 10px !important; 
}

.product-card {
  width: calc(20% - 10px);
  border: 1px solid black;
  text-align: center;
  position: relative;
}

.product-image {
  width: 100%;
  max-height: 178px;
  object-fit: contain;
  margin-bottom: 10px;
}

.product-info {
  background-color: #42a5f5 !important;
  padding: 10px;
}

.product-name {
  font-size: 14px;
  font-weight: bold;
}

.product-brand {
  font-size: 12px;
  color: #555;
}

.product-price {
  font-size: 16px;
  font-weight: bold;
}

.product-rating {
  font-size: 14px;
  color: black;
}
